body {
  background-color: #ffffff; /* Couleur de fond initiale */
  animation: colorChange 2s infinite alternate; /* Animation de changement de couleur */
}

@keyframes colorChange {
  from {
    background-color: #ffcc00; /* Couleur de fond au début de l'animation */
  }
  to {
    background-color: #00ccff; /* Couleur de fond à la fin de l'animation */
  }
}
